 <form
  class="form-horizontal"
  autocomplete="off"
  #createUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Permissions' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
   
        <div class="form-group row mb-0">
          <p-tree 
          [value]="files3" 
          selectionMode="checkbox" 
          [(selection)]="selectedFiles2"
          (onNodeSelect)="onNodeSelect($event)">
          <ng-template let-node pTemplate="default">
            <span>{{node.label}}</span>
        </ng-template>
        </p-tree>
        </div>
      
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>

