<div [@routerTransition]>
    <section class="content-header">
   
      <div class="container-fluid" >
     
        <div class="row">
      <div class="col-lg-4 col-md-6 mb-2">
        <div class="card mb-2 h-100">
          <div class="text-right pe-2 pr-2">
            <div>
              <!-- Icon for triggering the upload -->
              <i class="fa fa-upload" (click)="triggerFileInput()"></i> <!-- Replace with your preferred icon -->
            
              <!-- Hidden file input -->
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
            </div>
            

          </div>
          <div class="img-top">

            <img src="https://source.unsplash.com/E4c21RvXpgQ" class="card-img-top img-fluid animate" alt="">
            <a href="#">
              <span></span>
              <span></span>
            </a>
  
          </div>
  
          <div class="card-body position-relative">
            <div class="img-profile position-absolute top-0 start-50 translate-middle">
              <img src="https://source.unsplash.com/AoL-mVxprmk" class="animate" alt="">
            </div>
            <div class="row mt-5">
              <div class="col text-center">
                <h4>  {{userDetail.employeeName}}</h4>
                <p>{{userDetail.email}}</p>
              </div>
              <div class="row d-flex justify-content-between">
                <div class="col text-center">
                  <a href="">
                    <h6>
                      <i class="bi bi-geo-alt-fill"></i> Home
                    </h6>
                  </a>
                </div>
                <div class="col text-center">
                  <a href="">
                    <h6>
                      <i class="bi bi-person-workspace"></i> Office
                    </h6>
                  </a>
                </div>
              </div>
            </div>
  
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col media-bar text-white">
                <a href=""><span><i class="bi bi-instagram"></i></span></a>
                <a href=""><span><i class="fas fa-twitter"></i></span></a>
                <a href=""><span><i class="fas fa-github"></i></span></a>
                <a href=""><span><i class="fas fa-linkedin"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 mb-2">
        <div class="card mb-2 h-100">
          <div class="row p-3">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <p><span class="fw-bold">Name:</span><span>{{userDetail.employeeName}}</span></p>
              <p><span  class="fw-bold">Father Name:</span></p>
              <p><span  class="fw-bold">Designation:</span></p>
              <p><span  class="fw-bold">Designation</span></p>
              <p><span  class="fw-bold">Reporting To:</span></p>
              <p><span  class="fw-bold">Email:</span><span>{{userDetail.email}}</span></p>
              <p><span  class="fw-bold">Mobile:</span></p>
             </div>
             <div class=" col-lg-6 col-sm-6 col-md-6">
             <p><span  class="fw-bold">Date Of Birth:</span></p>
             <p><span  class="fw-bold">CNIC:</span><p>
             <p><span  class="fw-bold">Matrial Status:</span></p>
             <p><span  class="fw-bold">Salary:</span></p>
             <p><span  class="fw-bold">Employee Status: </span><span>{{userDetail.employeeStatus}}</span></p>
             <p><span  class="fw-bold">Joining Date:</span><span>{{userDetail.joiningDate | date: 'dd/MM/YYYY'}}</span></p>
             <p><span  class="fw-bold">Child:</span></p>
            </div>
            </div>
          </div>
          <!-- {{userDetail | json}} -->
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-2">
          <div class="card mb-2 h-100">          
            <div class="card-body">
              <div class="Myskill pb-2">
                <h1 style="text-align: center;">Leave</h1>
                <span class="pbar-mr-2">Casual</span>
                 <div class="pbar-flex-1 py-3">
                    
                       <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated"  
                              role="progressbar"
                              [style.width.%]="userDetail.percentageCasualUsed" 
                              aria-valuenow="userDetail.percentageCasualUsed"  
                              [attr.title]="'Casual Leave Usage: ' + userDetail.percentageCasualUsed + '%'"                           
                              aria-valuemin="0"
                              aria-valuemax="100">{{userDetail.percentageCasualUsed |  number: '1.0-0'}}%</div>
                       </div>
                 </div>  
                 <span class="pbar-mr-2">Sick</span>
                 <div class="pbar-flex-1 py-3">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                  role="progressbar"
                  [style.width.%]="userDetail.percentageSickUsed" 
                  aria-valuenow="userDetail.usedSickLeavePercentage" 
                  [attr.title]="'Sick Leave Usage: ' + userDetail.percentageSickUsed  + '%'"
                   aria-valuemin="0" 
                   aria-valuemax="100">{{userDetail.percentageSickUsed |  number: '1.0-0'}}</div>
                </div>
                   </div>
                   <span class="pbar-mr-2">Annual</span>
                <div class="pbar-flex-1 py-3">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                  role="progressbar" 
                  [style.width.%]="userDetail.percentageAnnualUsed" 
                  aria-valuenow="userDetail.usedAnnualLeavePercentage" 
                  [attr.title]="'Annual Leave Usage: ' + userDetail.percentageAnnualUsed + '%'"
                  aria-valuemin="0" 
                  aria-valuemax="100">{{userDetail.percentageAnnualUsed |  number: '1.0-0'}}</div>
                </div>
                </div>
                
            </div>           
          </div>
        </div>
        <div class="col-lg-8 col-md-6 mb-2">
          <div class="card mb-2 h-75">
           
          </div>
        </div>
      </div>
  </div>
  </div>
  
    </section>
</div>